@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .bg-image {
    background-image: url('../images/Datingstars-bg.webp') !important;
    background-size: cover;
    background-repeat: no-repeat;
} */
.star-bg-1 {
    position: relative;
}

.star-bg-1::after {
    content: "";
    position: absolute;
    z-index: -1;
    background: #F7B103;
    width: 300px;
    height: 400px;
    opacity: 50%;
    filter: blur(170px);
    border-radius: 50%;
    /* transform: translate(-50%, -50%); */
    right: -10%;
    top: -10%;
}

.star-bg-2 {
    position: relative;
}

.star-bg-2::after {
    content: "";
    position: absolute;
    z-index: -1;
    background: #F7B103;
    width: 300px;
    height: 400px;
    opacity: 50%;
    filter: blur(170px);
    border-radius: 50%;
    /* transform: translate(-50%, -50%); */
    left: -10%;
    top: -10%;
}

.star-bg-3 {
    position: relative;
}

.star-bg-3::after {
    content: "";
    position: absolute;
    z-index: -1;
    background: #F7B103;
    width: 300px;
    height: 400px;
    opacity: 50%;
    filter: blur(170px);
    border-radius: 50%;
    /* transform: translate(-50%, -50%); */
    right: -10%;
    top: -20%;
}

.star-bg-4 {
    position: relative;
}

.star-bg-4::after {
    content: "";
    position: absolute;
    z-index: -1;
    background: #F7B103;
    width: 250px;
    height: 400px;
    opacity: 50%;
    filter: blur(170px);
    border-radius: 50%;
    /* transform: translate(-50%, -50%); */
    left: -5%;
    top: -5%;
}

.star-bg-5 {
    position: relative !important;
}

.star-bg-5::before {
    content: "" !important;
    position: absolute !important;
    z-index: -1;
    background: #F7B103;
    width: 250px;
    height: 400px;
    opacity: 50%;
    filter: blur(170px);
    border-radius: 50%;
    /* transform: translate(-50%, -50%); */
    right: 0%;
    bottom: -30%;
}

.layer-image{
    bottom: -6% !important;
    left: -5%;
}
.sec-2 .slick-list .slick-track {
    display: flex !important;
    gap: 20px !important;
}

.sec-2 .slick-prev:before,
.slick-next:before {
    font-size: 25px !important;
    overflow: hidden !important;
}

input {
    background-color: transparent !important;
    padding: 12px 0px 13px 20px !important;
    border: 1px solid #828282 !important;
    border-radius: 10px !important;
    color: white !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}

textarea {
    padding: 20px 0px 13px 20px !important;
    color: white !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    height: 140px !important;
}

.sec-3-border {
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #F7B103 0%, rgba(247, 177, 3, 0) 100%);
}

.slider-1-image {
    background-image: url('../images/slider-1-image.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 364px;
    height: 282px;
    border-radius: 22px;
}

.slider-2-image {
    background-image: url('../images/slider-2-image.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 364px;
    height: 282px;
    border-radius: 22px;
}

.slider-3-image {
    background-image: url('../images/slider-3-image.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 364px;
    height: 282px;
    border-radius: 22px;
}

.sec-4 .slick-list .slick-track {
    display: flex !important;
    gap: 24px !important;
}

.pointer{
    pointer-events: none;
}